.vitalidade-fitness{
    --font-color: #ECE5EB;
    --gym-orange: #F45929;
    --gym-orange-hover: #ff3c00;
    --gym-orange-filter: #b42c028f;
    --section-background: #1D0E15;
    --gym-orange-hover-two: #661800a2;
}
